name: Release Deployment

on:
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

concurrency:
  group: deploy-release
  cancel-in-progress: false

jobs:
  determine-release-type:
    name: Determine Release Type
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      is-pre-release: ${{ steps.determine.outputs.is-pre-release }}
      tag-name: ${{ github.ref_name }}

    steps:
      - name: Determine Release Type
        id: determine
        run: |
          TAG=${GITHUB_REF#refs/tags/}
            if [[ "$TAG" == *"-"* ]]; then
                echo "This is a pre-release version."
                echo "is-pre-release=true" >> $GITHUB_OUTPUT
            else
                echo "This is a stable release version."
                echo "is-pre-release=false" >> $GITHUB_OUTPUT
            fi

  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          push: true
          file: src/main/docker/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3.2.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  release:
    name: Publish Release Artifacts
    runs-on: ubuntu-latest
    needs: [ determine-release-type, build-and-push-image ]
    permissions:
      contents: write

    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.determine-release-type.outputs.tag-name }}
          name: ${{ needs.determine-release-type.outputs.tag-name }}
          draft: false
          prerelease: ${{ needs.determine-release-type.outputs.is-pre-release }}
          body: |
            **${{ needs.determine-release-type.outputs.tag-name }}**
